In [1]:
import pandas as pd
import matplotlib.pyplot as mlpt
import numpy as np

In [15]:
df = pd.read_csv("housePrice.csv")
df_shahran = df[df["Address"]=='Shahran']
df_shahran.head()

   Area  Room  Parking  Warehouse  Elevator  Address         Price  Price(USD)
0    63     1     True       True      True  Shahran  1.850000e+09    61666.67
1    60     1     True       True      True  Shahran  1.850000e+09    61666.67
7    59     1     True       True      True  Shahran  2.150000e+09    71666.67
22   65     1     True       True      True  Shahran  1.880000e+09    62666.67
56   72     2     True       True      True  Shahran  2.350000e+09    78333.33

In [16]:
df_shahran.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130 entries, 0 to 3470
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        130 non-null    object
 1   Room        130 non-null    int64
 2   Parking     130 non-null    bool
 3   Warehouse   130 non-null    bool
 4   Elevator    130 non-null    bool
 5   Address     130 non-null    object
 6   Price       130 non-null    float64
 7   Price(USD)  130 non-null    float64
dtypes: bool(3), float64(2), int64(1), object(2)
memory usage: 6.5+ KB

In [19]:
df_shahran.describe()

             Room         Price     Price(USD)
count  130.000000  1.300000e+02     130.000000
mean     1.815385  2.985754e+09   99525.128692
std      0.494695  1.009383e+09   33646.103541
min      1.000000  1.390000e+09   46333.330000
25%      2.000000  2.112500e+09   70416.667500
50%      2.000000  2.890000e+09   96333.335000
75%      2.000000  3.587500e+09  119583.332500
max      3.000000  5.600000e+09  186666.670000